
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


{% block content %}
<h1>Hello world</h1>

<div class="container-fluid">
    <div class="row text-center">
        <div class="col-sm-6 jumbotron">
            <form action="" method="POST">{% csrf_token %}
                {{ register_form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>




</div>

{%  endblock content %}


